<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
  <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->

  <!-- Include only if your app benefits from precise location access. -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <uses-permission android:name="android.permission.CAMERA" />

  <!-- Change the service type to location -->



<!-- Add these near your other permissions -->
<!-- (Optional but recommended for Android 13+ notifications) -->
<!-- <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> -->


    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:usesCleartextTraffic='true'
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:supportsRtl="true"
      android:windowSoftInputMode="adjustPan">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
        
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
           <intent-filter android:label="filter_react_native">
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="testTask" />
        </intent-filter>
      </activity>
          <service 
          android:name="com.asterinet.react.bgactions.RNBackgroundActionsTask"
          android:foregroundServiceType="location"
        />
        
      
    </application>
</manifest>
